flux.Hibernate:
  hibernate.dialect: "org.hibernate.dialect.MySQLDialect"
  hibernate.connection.driver_class: "com.mysql.jdbc.Driver"
  hibernate.connection.url: "jdbc:mysql://localhost:3306/flux"
  hibernate.connection.username: "root"
  hibernate.connection.password: ""
  hibernate.current_session_context_class: "managed"
  connection.provider_class: "org.hibernate.c3p0.internal.C3P0ConnectionProvider"
  hibernate.c3p0.min_size: 10
  hibernate.c3p0.max_size: 100

flux_redriver.Hibernate:
  hibernate.dialect: "org.hibernate.dialect.MySQLDialect"
  hibernate.connection.driver_class: "com.mysql.jdbc.Driver"
  hibernate.connection.url: "jdbc:mysql://localhost:3306/flux_redriver"
  hibernate.connection.username: "root"
  hibernate.connection.password: ""
  hibernate.current_session_context_class: "managed"
  connection.provider_class: "org.hibernate.c3p0.internal.C3P0ConnectionProvider"
  hibernate.c3p0.min_size: 10
  hibernate.c3p0.max_size: 100

Dashboard:
  service.port: 9999
  service.acceptors: 5
  service.selectors: 10
  service.workers: 25

Api:
  service.port: 9998
  service.acceptors: 5
  service.selectors: 10
  service.workers: 25
  service.baseURL: "http://localhost"

routers:
  default:
    totalInstances: 10
    maxInstancesPerNode: 2

runtime:
  actorsystem:
    metrics: false
    name: FluxSystem
    configname: application.conf
    maxGatewayActorCreateRetries : 10
    noOfRedriverWorkers : 50

redriver:
  batchdelete:
    batchsize: 2
    intervalms: 1000

deploymentType: directory
deploymentUnitsPath: "/opt/workflows/"
