<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="log-path">logs</Property>
    </Properties>
    <Appenders>
        <Console name="console-log" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{5} %X - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info" additivity="false">
            <AppenderRef ref="console-log"/>
        </Root>
        <Logger name="org.eclipse.jetty.*" level="info" additivity="false" >
            <AppenderRef ref="console-log"/>
        </Logger>
        <Logger name="com.flipkart.polyguice.*" level="info" additivity="false">
            <AppenderRef ref="console-log"/>
        </Logger>
    </Loggers>
</Configuration>